@import "../../styles/_mixins";
@import "../../styles/_variables";

.Hero {
  height: 55vh;

  background: url("../../img/hero-image.png");
  background-size: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include desktop {
    background-size: contain;

    height: 640px;
  }
}
