@import "../../styles/_mixins";
@import "../../styles/_variables";

.Hero {
  height: 60vh;

  background: url("https://s3-eu-west-1.amazonaws.com/production-hairdressr/fe-dummy/cover.png");
  background-size: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include desktop {
    background-size: 100vw;
    height: 560px;
  }
}
