@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;600;800&display=swap");

// Grey scale
$light_color: #fff;
$dark_color: #000;
$grey_color_dark: #3a405b;
$grey_color_light: #9b9b9b;

$content_color: #4a4a4a;
$hr_color: #dde4e4;

// Colored
$primary_color: #f8e627;
$secondary_color: #ecda1f;

// Fonts
$header_text: "Montserrat", sans-serif;
$content_text: "Open Sans", sans-serif;
