@import "../../styles/_mixins";
@import "../../styles/_variables";

.Navbar {
  @include flexbox(space-between, center);

  padding: 0 32px;

  @include desktop {
    padding: 0 64px;
  }

  &_logo {
    font-family: $header_text;
    font-weight: bold;
    font-size: 20px;
  }

  // Mobile hamburger ver.
  &_btn {
    background: transparent;
    border: 0;
    display: none;
    outline: none;
    text-align: right;

    @include mobile() {
      display: block;
    }
  }
  &_btn__image {
    width: 35px;
    height: 35px;

    transition: transform 0.35s;

    &:hover,
    &:focus {
      transform: rotate(90deg);
    }
  }

  &_links {
    @include flexbox();
    width: 100%;

    ul {
      @include flexbox();
      padding: 0;
      list-style: none;
      margin-left: -24px;

      li {
        margin: 0 12px;

        color: $grey_color_light;

        font-family: $content_text;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    @include mobile() {
      display: none;
    }
  }
}
