@import "../../styles/mixins";
@import "../../styles/variables";

.InfoCardsList {
  @include flexbox(center, center, column);
  margin-top: 50px;

  @include desktop {
    @include flexbox(center, center, column);
    position: fixed;
    top: 0;
    right: 97px;
    transform: translateY(-145px);
  }

  > * {
    margin-bottom: 30px;
  }
}
